*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* This defines what 1rem is: 1rem = 10px */
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 40rem;
}

.square {
  background-color: #1d1d1d;
  box-shadow: 0 0 0.2rem #000;
  height: 1.6rem;
  width: 1.6rem;
  margin: 0.2rem;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}

