@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #efedd6;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
}

.box {
  background-color: #0aaf78;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 150px;
  margin: 10px;
  border-radius: 20px;
  background: linear-gradient(45deg, #5bc6ff, #4da7db);
  box-shadow: 8px -8px 16px #306888, -8px 8px 16px #7affff;
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 45px;
}
